@model CandidateChangeStateViewModel 

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdministrator";
}

<div class="row">
    <div class="col-12 col-md-4 offset-4">
        <div class="card">
            <div class="card-header text-center text-light @(Model.IsActive ? "bg-danger" : "bg-success")">
                <h5 class="card-title">
                    ¿Esta seguro de que desea @(Model.IsActive? "desactivar" : "activar") este candidato?
                </h5>
            </div>
            <div class="card-body">
                <form asp-controller="Candidate" asp-action="ChangeState" method="post">
                    <input type="hidden" asp-for="Id" value="@Model.Id"/>
                    <input type="hidden" asp-for="IsActive" value="@Model.IsActive"/>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn  @(Model.IsActive ? "btn-outline-success" : "btn-outline-danger") me-2">Aceptar</button>
                        <a asp-controller="Candidate" asp-action="Index" class="btn btn-outline-warning">Cancelar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
